@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-whiteBonds h-screen overflow-hidden;
}
ul {
  @apply list-none space-y-6;
}

li {
  @apply w-full text-base;
}
.container {
  @apply flex items-center justify-center h-full 
}

.container-links{
  @apply p-5;
}


.link {
  @apply space-x-2 p-2 w-full flex justify-center flex-col items-center  text-whiteMilk
  transition duration-150 ease-out md:ease-in hover:text-greenDirty 
  cursor-default;
}


.containe-logo{
  @apply w-[20] top-0 flex flex-col items-center 
}

.container-logo--title{
  @apply font-bold text-3xl text-whiteBonds
}
nav {
  @apply fixed max-w-md bg-greenOne
  rounded-3xl shadow-md  space-y-6 pb-3;
}

nav :where(li, button) {
  @apply relative ;
}

/*animation*/
nav li::before,
nav li::after {
  content: "";
  @apply absolute w-full h-5 bg-greenOne;
}

nav li.active::before {
  right: -20px;
  top: -20px;
  @apply rounded-br-2xl rounded-tr-sm;
}
nav li.active::after {
  right: -20px;
  @apply rounded-tr-xl rounded-br-md;
}

@-webkit-keyframes scale-up-hor-right {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
}
@keyframes scale-up-hor-right {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
}

nav li.active button::before,
nav li.active button::after {
  content: "";
  @apply absolute  bg-whiteBonds -z-[1];
}

nav li.active button::before {
  @apply left-0 h-full w-40 rounded-l-3xl;
  -webkit-animation: scale-up-hor-right 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-hor-right 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

nav li.active button::after {
  right: -20px;
  @apply h-[70px] w-10;
}

nav li.active button {
  @apply text-grayRaccoon;
}

.bodyContent {
  @apply w-[96%] flex items-center justify-center;
}

.navContent {
  @apply w-[14%] mx-3  h-full;

}

.container-topbar{
  @apply flex items-center text-center space-x-5 p-2 mr-10 mt-8 text-grayRaccoon
}
