.nav {
	@apply w-[200px] max-w-md h-full space-y-6 pb-3 flex flex-col items-center;
	background-color: var(--color-green1);
}

.nav :where(.li, .link) {
	@apply relative;
}
.linksContainer {
	@apply p-5;
}

.logoContainer {
	@apply w-[60%] flex flex-col items-center;
}
.containerLogoTitle {
	@apply font-bold text-3xl text-whiteBonds;
}
.ul{
	@apply list-none space-y-5;
}

.li {
	@apply w-full text-base z-[2];
}

.link {
	@apply space-x-2 p-2 w-full flex flex-row items-center  text-whiteMilk
	transition duration-150 ease-out md:ease-in hover:text-greenDirty
	cursor-default;
}

/*animation*/
.li::before,
.li::after {
	content: '';
	@apply absolute w-full h-5;
	background-color: var(--color-green1);
}

.active::before {
	right: -20px;
	top: -20px;
	@apply rounded-br-2xl rounded-tr-sm;
}
.active::after {
	right: -20px;
	@apply rounded-tr-xl rounded-br-md;
}

@-webkit-keyframes scale-up-hor-right {
	0% {
		-webkit-transform: scaleX(0.4);
		transform: scaleX(0.4);
		-webkit-transform-origin: 100% 100%;
		transform-origin: 100% 100%;
	}
	100% {
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
		-webkit-transform-origin: 100% 100%;
		transform-origin: 100% 100%;
	}
}
@keyframes scale-up-hor-right {
	0% {
		-webkit-transform: scaleX(0.4);
		transform: scaleX(0.4);
		-webkit-transform-origin: 100% 100%;
		transform-origin: 100% 100%;
	}
	100% {
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
		-webkit-transform-origin: 100% 100%;
		transform-origin: 100% 100%;
	}
}

.link::before,
.active .link::after {
	content: '';
	@apply absolute -z-[1];
	background-color: var(--color-background);
}

.active .link::before {
	@apply left-0 h-full w-40 rounded-l-3xl;
	-webkit-animation: scale-up-hor-right 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
		both;
	animation: scale-up-hor-right 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.active .link::after {
	right: -20px;
	@apply h-[70px] w-10;
}

.active .link {
	@apply text-grayRaccoon;
}


